<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <base href="/">
    <title>Digispace &mdash;  Website laboratory</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--<link "https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'assets/fonts/icomoon/style.css' %}" >-->
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
    <!--<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" >-->
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}" >
    <link rel="stylesheet" href="{% static 'styles.3ff695c00d717f2d2a11.css' %}">



    </head>
  <body>

<app-root></app-root>
  <script src="{% static 'assets/js/head.load.js' %}"></script>
<script>
	head.load(['https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900',
	           '{% static 'assets/css/bootstrap.min.css' %}',
	           '{% static 'assets/fonts/icomoon/style.css' %}','{% static 'assets/css/style.css' %}'])
</script>

  <script type="text/javascript" src="{% static 'runtime.26209474bfa8dc87a77c.js' %}"></script>
  <script async type="text/javascript" src="{% static 'es2015-polyfills.b0657154bc33c6ff11ae.js' %}" nomodule></script>
  <script async type="text/javascript" src="{% static 'polyfills.8bbb231b43165d65d357.js' %}"></script>
  <script async type="text/javascript" src="{% static 'main.82c98cdce34c5ec7c7c1.js' %}"></script>
  </body>
  <script async src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script async src="{% static 'assets/js/aos.js' %}"></script>
  <script async src="{% static 'assets/js/main.js' %}"></script>
</html>
